<h1>Editing Book</h1>
<%= form_with model: @book do |f| %>
  <div class="field">
    <%= f.label "Title" %><br>
    <%= f.text_field :title %>
  </div>
    
  <div class="field">
    <%= f.label "Body" %><br>
    <%= f.text_area :body %>
  </div>
    
  <div class="botton">
    <%= f.submit "Create Book" %>
  </div>
  
  <div class="page-move">
    <%= link_to "Show", book_path(@book.id) %>
    <%= "|" %>
    <%= link_to "Back", books_path %>
  </div>
<% end %>