<p class="flash-message"><%= flash[:notice] %></p>

<p>
  <label><strong>Title: </strong><%= @book.title %></label>
</p>

<p>
  <label><strong>Body: </strong></strong><%= @book.body %></label>
</p>
  
<div class="page-move">
  <%= link_to "Edit", edit_book_path(@book.id) %>
  <%= "|" %>
  <%= link_to "Back", books_path %>
</div>